<div class="container">

  <div class="mt-5"></div>
  <h1>Best Solutions For Your Business Needs!</h1>
  <p>Best solutions from worlds class professionals developed with latest trends and designs. </p>

  <div class="mt-5"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <i class="fa fa-lightbulb-o fa-5x"></i>
        <h2>Innovative Designs</h2>
        <p>Flexible fremework to provide you the full control over designs and functionality. Component and modules
          easy
          to develope sections with ease.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <i class="fa fa-cube fa-5x"></i>
        <h2>Flexibility</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <i class="fa fa-bolt fa-5x"></i>
        <h2>Powerful UI</h2>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
          placeat
          facere possimus. quod maxime pl.</p>
      </div>
    </div>
  </div>

  <div class="mt-5"></div>

  <div class="row">
    <div class="col-md-6">
      <h2>How It Works</h2>
      <p>Musk angular is developed with easy component and file structure which is easy to modify or extend with new
        components. </p>

      <ul>
        <li>Select a page template.</li>
        <li>Configure API url for content.</li>
        <li>Map your data fields.</li>
        <li>Enjoy dynamic pages with live content.</li>
      </ul>
    </div>
    <div class="col-md-6"></div>

  </div>
</div>